body{
    background-image: url('hexagon.jpg');
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body, html {
    height: 100%;
  }

h1{
    font-size: 55px;
}

h2{
    font-size: 35px;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 15px;
}